a.notes-list-entry(href='/blogs/{{_id}}')
  span.color-overlay
  p.note-meta
    span.category Culture
    span.desktop-only ///
    br.mobile-only
    span.date-posted {{blogFormatDate createdAt}}
  h3.note-title {{title}}
  cite.note-author {{authorName}}