a.notes-list-entry.track-list-entry(data-action="delete")
  span.color-overlay
  p.note-meta
    //- span.category Culture
    //- span.desktop-only ///
    //- br.mobile-only
    span.date-posted {{blogFormatDate uploadDate}}
  h3.note-title {{filename}}
  //- cite.note-author {{authorName}}